*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  color: #8e8f91;
}

.header {
  width: 100%;
}

.footer {
  width: 100%;
  margin-top: auto;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}
