.hero {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
  padding: 20px;
  text-align: left;
  min-height: 100vh;
  margin-bottom: 48px;
}

.hero_text {
  width: 50%;
  padding: 20px;
}

.hero_text h1 {
  font-weight: 700;
  font-size: 30px;
  padding: 16px 0;
}

.hero_text p {
  font-size: 12px;
}

.cta {
  margin-top: 28px;
  background-color: #006769;
  border: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;
}

.heroImage {
  width: 50%;
  position: relative;
}

.heroImage img {
  width: 70%;
  height: 300px;
  position: absolute;
  z-index: 100;
  object-fit: cover;
  border-radius: 2px;
}

.bgcontainer {
  position: absolute;
  height: 250px;
  width: 50%;
  background-color: #fff;
  top: 84px;
  right: 64px;
  z-index: 66;
  border-bottom-right-radius: 32px;
  /* border: 8px solid #006769; */
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1px;
  height: auto;
  padding: 32px 0;
  background-color: #e5e5e5;
  margin-bottom: 48px;
}

.partners img {
  width: 100%;
  height: auto;
}

.partners_title {
  font-size: 24px;
  font-weight: 700;
  color: #006769;
}

.whyus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 32px;
  text-align: left;
  min-height: 100vh;
  margin-bottom: 48px;
  width: 100%;
}

.whyus_title {
  color: #006769;
}

.whyus p {
  font-size: 12px;
  padding-bottom: 16px;
}

.whyus_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  width: 100%;
}

.whyus_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 24px 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: #006769;
  color: #fff;
  border-bottom-right-radius: 32px;
  border-top-left-radius: 32px;
  text-align: center;
  /* height: 200px; */
}

.whyus_card:hover {
  transform: scale(1.05);
  transition: 0.3s;
  background-color: #014647;
}

.whyus_card h3 {
  font-size: 14px;
  font-weight: 700;
}

.whyus_card p {
  font-size: 12px;
  color: #ffffffbb;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MdPersonSearch {
  background-color: #fff;
  color: #006769;
}

.FaRegCalendarCheck {
  background-color: #fff;
  color: #bf05f3;
}

.FaPeopleArrows {
  background-color: #fff;
  color: #1a0afc;
}

.ImAidKit {
  background-color: #fff;
  color: #ff0000;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #e5e5e5;
  padding: 20px 32px;
  text-align: left;
  padding-bottom: 48px;
  width: 100%;
  height: 300px;
}

.subscribe_title {
  color: #006769;
}

.subscribe_description {
  font-size: 12px;
  padding-bottom: 12px;
}

.subscribe_form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.subscribe_input {
  padding: 8px 16px;
  border: 1px solid #006769;
  border-radius: 4px;
  color: #006769;
}

.subscribe_input::placeholder {
  color: #006769;
}

.subscribe_input:focus {
  outline: none;
}

.subscribe_button {
  font-size: 10px;
  margin-left: 1rem;
  background-color: #006769;
  color: #fff;
  border: none;
  padding: 4px 24px;
  border-radius: 4px;
  cursor: pointer;
}
